.signup-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}
.signup-form label {
  display: block;
  margin: 30px auto;
}
.signup-form span {
  display: block;
  margin-bottom: 6px;
}
.signup-form input {
  padding: 3px 0px;
  font-size: 1em;
  color: #777;
  width: 100%;
}
.signup-form select {
  padding: 6px 6px;
  font-size: 1em;
  color: #777;
  width: 104%;
}
.btn1 {
  width: 250px !important;
  margin-bottom: 17px !important;
  margin-top: 17px !important;
}
.btn {
  margin-left: 140px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 80%;
  max-width: 500px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: #f8f8f854;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

span {
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 100%;
}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

label {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: left;
}

span {
  margin-bottom: 5px;
}

button[type="submit"] {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
select {
  padding: 5px 60px;
}

button[type="submit"]:hover {
  background-color: #27ae60;
}
input,
select {
  max-width: 29rem;
}

input {
  margin: 0 !important;
}
button {
  margin: 0 !important;
}
@media only screen and (max-width: 768px) {
  .signup-form {
    padding: 1.5rem;
    font-size: 0.8rem;
  }

  .signup-form label {
    margin: 1rem 0;
  }

  .signup-form input,
  .signup-form select {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .btn {
    margin: 0.8rem 0;
    font-size: 1.2rem;
  }

  .btn1 {
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 480px) {
  .signup-form {
    padding: 1.2rem;
    font-size: 0.8rem;
    margin: 4rem auto;
    height: 100%;
  }

  .signup-form input,
  .signup-form select {
    padding: 0.8rem;
    width: 90%;
    font-size: 0.8rem;
  }

  .btn1 {
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    font-size: 0.8rem;
  }
}
