:root {
  font-size: 16px;
  font-family: "Roboto";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(20, 20, 20);
  display: grid;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  place-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 5%, #204177c5 8%);
  background-position: 0% 0%;
  background-size: 2vmin 2vmin;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.confirmation-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.overlay-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
:root {
  --border: rgb(3, 169, 244);

  --g1: rgba(98, 0, 234, 0.526);
  --g2: rgba(236, 64, 121, 0.393);
  --g3: rgba(253, 216, 53, 0.416);
}

.designCard {
  /* aspect-ratio: 1 / 1.6; */
  cursor: pointer;
  /* position: relative; */
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: 0;
  max-width: 100%;
}

/* .designCard:hover:before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
}

.designCard:hover > .designCard-content {
  background-position: -10% 0%;
}

.designCard:hover > .designCard-icon {
  color: white;
}

.designCard:hover
  > .designCard-content
  > .designCard-subtitle
  > .designCard-subtitle-word {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0ms, transform 500ms cubic-bezier(0.9, 0.06, 0.15, 0.9);
}

.designCard:before {
  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    var(--g1) 66%,
    var(--g2) 83.5%,
    var(--g3) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
} */

.designCard-content {
  height: calc(100%);
  /* padding: 5vmin; */
  position: relative;
  transition: background-position 350ms ease;
  width: calc(100%);
  z-index: 2;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #3a3a61;
  border-radius: 0.4rem;
}

/* NAVBAR */
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 6rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
  padding-left: 20px;
}

.nav-link svg {
  width: 3rem;
  min-width: 3rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #765eb9;
}

.fa-secondary {
  color: #6649b8;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* SMALL SCREENS */
@media only screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    padding: 2rem;
    margin: 0;
  }
  .designCard{
    max-width: 100%;
  }
}

/* LARGE SCREENS */
@media only screen and (min-width: 600px) {
  main {
    margin-left: 6rem;
    padding: 1rem;
  }
  .navbar {
    top: 0;
    width: 6rem;
    left: 0;
    height: 100vh; /* 100% of the view port no matter the change */
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
